In [17]:
import pandas as pd

In [19]:
data_source1 = pd.read_csv("./data/Automobile_data.csv")
data_source1.head()
data_source1.shape

(205, 26)

In [20]:
#import chardet
#with open("./data/autos.csv", 'rb') as rawdata:
#    result = chardet.detect(rawdata.read(10000))

# check what the character encoding might be
#print(result)
data_source2 = pd.read_csv("./data/autos.csv", encoding ="Windows-1252")
data_source2.head()
data_source2.shape

(371528, 20)

In [21]:
data_source3 = pd.read_csv("./data/cnt_km_year_powerPS_minPrice_maxPrice_avgPrice_sdPrice.csv")
data_source3.head()
data_source3.shape

(1770, 8)

In [73]:
data_source4 = pd.read_csv("./data/vehicles.csv")
data_source4.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7119256118,https://mohave.craigslist.org/ctd/d/lake-havas...,mohave county,https://mohave.craigslist.org,3495,2012.0,jeep,patriot,like new,4 cylinders,...,NaN,NaN,NaN,silver,https://images.craigslist.org/00B0B_k2AXIJ21ok...,"THIS 2012 JEEP PATRIOT IS A 4CYL. AC, STEREO, ...",NaN,az,34.4554,-114.2690
1,7120880186,https://oregoncoast.craigslist.org/cto/d/warre...,oregon coast,https://oregoncoast.craigslist.org,13750,2014.0,bmw,328i m-sport,good,NaN,...,rwd,NaN,sedan,grey,https://images.craigslist.org/00U0U_3cLk0WGOJ8...,Selling my 2014 BMW 328i with the following be...,NaN,or,46.1837,-123.8240
2,7115048251,https://greenville.craigslist.org/cto/d/sparta...,greenville / upstate,https://greenville.craigslist.org,2300,2001.0,dodge,caravan,excellent,6 cylinders,...,NaN,NaN,NaN,NaN,https://images.craigslist.org/00k0k_t4WqYn5nDC...,"01 DODGE CARAVAN,3.3 ENGINE,AUT TRANS,199000 M...",NaN,sc,34.9352,-81.9654
3,7119250502,https://mohave.craigslist.org/cto/d/lake-havas...,mohave county,https://mohave.craigslist.org,9000,2004.0,chevrolet,colorado ls,excellent,5 cylinders,...,rwd,mid-size,pickup,red,https://images.craigslist.org/00J0J_lJEzfeVLHI...,"2004 Chevy Colorado LS, ONLY 54000 ORIGINAL MI...",NaN,az,34.4783,-114.2710
4,7120433904,https://maine.craigslist.org/ctd/d/searsport-t...,maine,https://maine.craigslist.org,0,2021.0,NaN,Honda-Nissan-Kia-Ford-Hyundai-VW,NaN,NaN,...,NaN,NaN,NaN,NaN,https://images.craigslist.org/01010_j0IW34mCsm...,CALL: 207.548.6500 TEXT: 207.407.5598 **WE FI...,NaN,me,44.4699,-68.8963

In [74]:
data_source4.shape

(435849, 25)

In [75]:
data_source4.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'vin', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long'],
      dtype='object')

In [76]:
data_source4.dtypes

id                int64
url              object
region           object
region_url       object
price             int64
year            float64
manufacturer     object
model            object
condition        object
cylinders        object
fuel             object
odometer        float64
title_status     object
transmission     object
vin              object
drive            object
size             object
type             object
paint_color      object
image_url        object
description      object
county          float64
state            object
lat             float64
long            float64
dtype: object

In [63]:
for co
data_source4["condition"].nunique()

6

In [70]:
make_names = data_source4["manufacturer"].unique()
makes = [x for x in make_names if str(x) != 'nan']
print(makes)

['jeep', 'bmw', 'dodge', 'chevrolet', 'ford', 'ram', 'honda', 'toyota', 'nissan', 'subaru', 'gmc', 'volkswagen', 'kia', 'acura', 'chrysler', 'hyundai', 'cadillac', 'volvo', 'mini', 'mercedes-benz', 'audi', 'mazda', 'pontiac', 'buick', 'infiniti', 'mitsubishi', 'rover', 'lincoln', 'lexus', 'fiat', 'jaguar', 'mercury', 'saturn', 'datsun', 'porche', 'tesla', 'harley-davidson', 'ferrari', 'land rover', 'alfa-romeo', 'morgan', 'aston-martin']

In [72]:
df = pd.DataFrame(data_source4,columns=['manufacturer'])
for make in makes:
    print(make,df.manufacturer.str.count(make).sum())

jeep 19704.0
bmw 12516.0
dodge 14437.0
chevrolet 62392.0
ford 78257.0
ram 20300.0
honda 22408.0
toyota 34332.0
nissan 23135.0
subaru 10429.0
gmc 18649.0
volkswagen 9867.0
kia 7827.0
acura 3458.0
chrysler 6598.0
hyundai 10595.0
cadillac 6368.0
volvo 2716.0
mini 1917.0
mercedes-benz 9520.0
audi 4959.0
mazda 5279.0
pontiac 2723.0
buick 5569.0
infiniti 3381.0
mitsubishi 2417.0
rover 1845.0
lincoln 2848.0
lexus 5591.0
fiat 935.0
jaguar 911.0
mercury 1287.0
saturn 1181.0
datsun 71.0
porche 27.0
tesla 326.0
harley-davidson 142.0
ferrari 80.0
land rover 23.0
alfa-romeo 67.0
morgan 4.0
aston-martin 34.0

In [49]:
data_source4.manufacturer.str.count("bmw").sum()

0