In [17]:
import pandas as pd

In [19]:
data_source1 = pd.read_csv("./data/Automobile_data.csv")
data_source1.head()
data_source1.shape

(205, 26)

In [20]:
#import chardet
#with open("./data/autos.csv", 'rb') as rawdata:
#    result = chardet.detect(rawdata.read(10000))

# check what the character encoding might be
#print(result)
data_source2 = pd.read_csv("./data/autos.csv", encoding ="Windows-1252")
data_source2.head()
data_source2.shape

(371528, 20)

In [21]:
data_source3 = pd.read_csv("./data/cnt_km_year_powerPS_minPrice_maxPrice_avgPrice_sdPrice.csv")
data_source3.head()
data_source3.shape

(1770, 8)

In [51]:
data_source4 = pd.read_csv("./data/vehicles.csv")
data_source4.head()
data_source4.shape

(435849, 25)

In [52]:
data_source4.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'vin', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long'],
      dtype='object')

In [63]:
data_source4["condition"].nunique()

6

In [70]:
make_names = data_source4["manufacturer"].unique()
makes = [x for x in make_names if str(x) != 'nan']
print(makes)

['jeep', 'bmw', 'dodge', 'chevrolet', 'ford', 'ram', 'honda', 'toyota', 'nissan', 'subaru', 'gmc', 'volkswagen', 'kia', 'acura', 'chrysler', 'hyundai', 'cadillac', 'volvo', 'mini', 'mercedes-benz', 'audi', 'mazda', 'pontiac', 'buick', 'infiniti', 'mitsubishi', 'rover', 'lincoln', 'lexus', 'fiat', 'jaguar', 'mercury', 'saturn', 'datsun', 'porche', 'tesla', 'harley-davidson', 'ferrari', 'land rover', 'alfa-romeo', 'morgan', 'aston-martin']

In [72]:
df = pd.DataFrame(data_source4,columns=['manufacturer'])
for make in makes:
    print(make,df.manufacturer.str.count(make).sum())

jeep 19704.0
bmw 12516.0
dodge 14437.0
chevrolet 62392.0
ford 78257.0
ram 20300.0
honda 22408.0
toyota 34332.0
nissan 23135.0
subaru 10429.0
gmc 18649.0
volkswagen 9867.0
kia 7827.0
acura 3458.0
chrysler 6598.0
hyundai 10595.0
cadillac 6368.0
volvo 2716.0
mini 1917.0
mercedes-benz 9520.0
audi 4959.0
mazda 5279.0
pontiac 2723.0
buick 5569.0
infiniti 3381.0
mitsubishi 2417.0
rover 1845.0
lincoln 2848.0
lexus 5591.0
fiat 935.0
jaguar 911.0
mercury 1287.0
saturn 1181.0
datsun 71.0
porche 27.0
tesla 326.0
harley-davidson 142.0
ferrari 80.0
land rover 23.0
alfa-romeo 67.0
morgan 4.0
aston-martin 34.0

In [49]:
data_source4.manufacturer.str.count("bmw").sum()

0