In [17]:
import pandas as pd

In [19]:
data_source1 = pd.read_csv("./data/Automobile_data.csv")
data_source1.head()
data_source1.shape

(205, 26)

In [20]:
#import chardet
#with open("./data/autos.csv", 'rb') as rawdata:
#    result = chardet.detect(rawdata.read(10000))

# check what the character encoding might be
#print(result)
data_source2 = pd.read_csv("./data/autos.csv", encoding ="Windows-1252")
data_source2.head()
data_source2.shape

(371528, 20)

In [21]:
data_source3 = pd.read_csv("./data/cnt_km_year_powerPS_minPrice_maxPrice_avgPrice_sdPrice.csv")
data_source3.head()
data_source3.shape

(1770, 8)

In [51]:
data_source4 = pd.read_csv("./data/vehicles.csv")
data_source4.head()
data_source4.shape

(435849, 25)

In [52]:
data_source4.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'vin', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long'],
      dtype='object')

In [63]:
data_source4["condition"].nunique()

6

In [54]:
data_source4["manufacturer"].unique()

array(['jeep', 'bmw', 'dodge', 'chevrolet', nan, 'ford', 'ram', 'honda',
       'toyota', 'nissan', 'subaru', 'gmc', 'volkswagen', 'kia', 'acura',
       'chrysler', 'hyundai', 'cadillac', 'volvo', 'mini',
       'mercedes-benz', 'audi', 'mazda', 'pontiac', 'buick', 'infiniti',
       'mitsubishi', 'rover', 'lincoln', 'lexus', 'fiat', 'jaguar',
       'mercury', 'saturn', 'datsun', 'porche', 'tesla',
       'harley-davidson', 'ferrari', 'land rover', 'alfa-romeo', 'morgan',
       'aston-martin'], dtype=object)

In [58]:
df = pd.DataFrame(data_source4,columns=['manufacturer'])

df.manufacturer.str.count("land rover").sum()

23.0

In [49]:
data_source4.manufacturer.str.count("bmw").sum()

0